[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:$HOME/.cargo/bin:$HOME/.local/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/sh -c "${HOME}/.local/bin/kanata --cfg ${HOME}/.config/kanata.kbd"
Restart=no

[Install]
WantedBy=default.target
