#window {
  background: transparent;
}

#input {
  margin-bottom: 10px;
}

#input,
#scroll {
  border-radius: 8px;
  border-color: #cba6f7;
  border-style: solid;
  border-width: 2px;
  background-color: #1e1e2e;
}

#text {
  color: #cdd6f4;
  margin-left: 1rem;
}
#img {
  margin-left: 1rem;
}

#text:selected {
  color: #1e1e2e;
}
#entry:selected {
  background: #cba6f7;
  outline: none;
}
